body{
    background-color: brown;
    margin: 5px;
}

.primeira{
    font-size: large;
    display: flex;
    justify-content: center;
    background-color: black;
}

.p1{
    font: size 10px;
}
